body
{
    background: #1e1a1f;
    text-align: center;
}

#maincontainer
{
    animation: transitionIn 1.25s;
    margin-left: 200px; /*Same as the width of the sidebar */
}

#main
{
    /* width: 1000px; */
    width: 75vw;
    /* height: 600px; */
    /* background: #14ca60; */
    
    margin: auto;
    /* border: solid 2px #E85A4F; */
    padding: 10px;
}

#center-screen
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

/* The sidebar menu */
.sidenav
{
    padding-top: 20px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    border-right: solid 2px #E85A4F;
    overflow-x: hidden; /* Disable horizontal scroll */
}
/* The navigation menu links */
.sidenav a 
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

h1
{
    text-align: center;
    font-family: 'Times New Roman';
    /* font-size: 72pt; */
    font-size: 6.5vw;
    color: #EDF5E1;
}

hr
{
    /* height: 2px; */
    color: #E85A4F;
}

p
{
    font-family: "Calibri";
    font-size: 16pt;
    text-align: left;
    text-indent: 48px;
    color: #EDF5E1;
}

a:link
{
    color: #E98074;
}
a:visited
{
    color: #E98074;
}
a:hover
{
    color: #fca690;
}

img
{
    max-height:100%;
    max-width:100%;
    object-fit: contain;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #1e1a1f;
    color: #EDF5E1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 2px #EDF5E1;
    border-bottom: none;
    text-align: left;
    outline: none;
    font-family: "Calibri";
    font-size: 16px;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .collapsible:hover {
background-color: #ccc;
} */
  
/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: solid 2px #EDF5E1;
    border-top: none;
    background-color: #1e1a1f;
    margin-bottom: 10px;
}

@keyframes transitionIn
{
    from
    {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to
    {
        opacity: 1;
        transform: rotateX(0);
    }
}